In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.model_selection import train_test_split, cross_val_score, cross_validate, KFold
import pickle

In [2]:
pID = '4'

path = "/Users/willy/Documents/GitHub/2021-fastReach/data/study/eeglab2python/"

data_fname = '\data.csv'
data = pd.read_csv(path+pID+data_fname)

In [3]:
def RMS(muscle_1, muscle_2):
    
    Bibi_RMS = []
    Delto_RMS = []
    
    rms_1 = np.sqrt(muscle_1.mean()**2)
    rms_2 = np.sqrt(muscle_2.mean()**2)
    
    rms_df = pd.DataFrame({'Epoch': data['epoch_ix'], 'RMS_Bibi':rms_1, 'RMS_Delto':rms_2})
    
    return rms_df

In [4]:
R = RMS(data.groupby(['epoch_ix'])["Cz"], data.groupby(['epoch_ix'])["T7"])

In [5]:
R

       Epoch   RMS_Bibi  RMS_Delto
0          1        NaN        NaN
1          1   8.877288   3.690297
2          1  15.228674   2.893277
3          1   8.199693   5.898855
4          1   2.032499   2.121737
...      ...        ...        ...
24495     98        NaN        NaN
24496     98        NaN        NaN
24497     98        NaN        NaN
24498     98        NaN        NaN
24499     98        NaN        NaN

[24500 rows x 3 columns]